@import '../../style/mixins.scss';

.loader{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    @extend %container;

    .tabContainer{
        width: 350px;
        height: 40px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        margin-top: 30px;
        margin-bottom: 20px;

        a{
            flex-grow: 1;
            height: 40px;
            box-shadow: 0px 0px 3px 0px rgba(0,0,0,.5);
            margin: 0 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            border-radius: 1px;
            transition: color .3s, background-color .3s;

            &.active{
                background-color: rgba(0,0,0,.75);
                color: white;
            }
        }
    }
}