.container{

    @keyframes loader {
        0%{ transform: rotate(0deg); }
        100%{ transform: rotate(360deg); }
    }

    position: absolute;
    width: 55px;
    height: 55px;
    background-size: cover;
    background-position: center;
    animation: loader .8s infinite linear;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.3);
    border-top-color: rgba(0,0,0,.85);
    margin: 0 auto;
}